<h1> Signup </h1>

<form action="/signup" method="POST">
    <p class="message">
        <% if @user!= nil %>
        <%= @user.errors.full_messages %>
        <% end %>
    </p>
    <p>
        <label for="username">User Name:</label>
        <input type="text" name="username" id="username" />
    </p>
   
    <p>
        <label for="email">Email:</label>
        <input type="text" name="email" id="email" />
    </p>
    <p>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
    </p>
                
    <input type="submit" />
</form>